.radial-nav {
    z-index: 10000;
    transition: all .3s ease;
    padding: 3rem 3rem 0 0;

    &:hover, &:focus, &:active, &:focus-within, &:target, &:visited {
        transition: all .5s ease-in;

        .radial-list {
            opacity: 1;

            .radial-item {
                display: flex;


            &.first {
                transform: translate(-20px, -30px);
                // translate: translateX(50px);
            }
            &.second {
                transform: translate(33px, -3px);
                // translate: translateX(50px);
            }
            &.third {
                transform: translate(48px, 55px);
                // translate: translateX(50px);
            }
            }
        }
        
    }

    .radial-block {
        transition: all .5s ease-in;
        position: relative;

        // .radial-btn {
            // box-shadow: 2px 2px 8px -5px #000;
        // }
    }

    .radial-list {
        opacity: 0;
        transition: all .5s ease-in;

        .radial-item {
            position: absolute;
            display: none;
            padding: 1rem;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            color: $primary;
            background: $dark;
            justify-content: center;
            align-items: center;
            transform-origin: 0 0;
            top: -20px;
            right: 0;
            box-shadow: 2px 2px 8px -5px #000;

            // & :first-child {
            //     top: 0;
            //     right: 0;
            // }
        }
    }
}